@using CarInsuranceQuoteMVC.ViewModels
@model List<CarInsuranceVm>

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow d-inline-block">
        <div class="card-header text-center">
            <h2 class="m-0">Quotes Issued:</h2>
        </div>
        <div class="card-body d-inline-block">
            @foreach (var quote in Model)
            {
                <div class="row no-gutters text-center">
                    <div class="form=group text-center col-md-12">
                        Id: @quote.Id
                    </div>
                    <div class="form=group text-center col-md-12">
                        First Name: @quote.FirstName
                    </div>
                    <div class="form=group text-center col-md-12">
                        Last Name: @quote.LastName
                    </div>
                    <div class="form=group text-center col-md-12">
                        Email Address: @quote.EmailAddress
                    </div>
                    <div class="form=group text-center col-md-12">
                        Quote: $@quote.FinalQuote

                        <br />
                        <br />
                    </div>
                </div>

            };
        </div>
    </div>
